<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>9 Ways to <em>Optimise Your Digestion</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                            <p>Compare your current routine with these 9 ways to optimise your digestive
                        system</p>                        
                            	<li><strong>Chew food</strong> well to aid break down of starches and sugars</li>
                              <li>Leave <strong>time in between meals</strong> to allow the stomach to finish preparing
                                the food for digestion and to clear</li>
                              <li>Include <strong>plenty of fresh, live food</strong> such as fresh vegetables and live
                                yoghourt (unless dairy intolerant) in your food to supply enzymes that
                                aid digestion</li>
                              <li>Eat a <strong>good range of healthy foods</strong> to give the body a varied supply of
                                nutrients</li>
                              <li><strong>Avoid an excess of animal products and saturated fats</strong> which
                                overwork the liver and gall bladder</li>
                              <li><strong>?Avoid an excess of sugar and refined carbohydrate foods,</strong> such as
                                white bread, white flour, cakes and biscuits as these put a strain on the
                                pancreas and can cause blood sugar problems </li>
                              <li><strong>Eat plenty of fibre and drink 6-8 glasses of water a day</strong> to enable the
                                intestines to function well
                                </li>
                              <li><strong>Limit alcohol and avoid cigarette smoke</strong> as these can damage
                                digestive function</li>
                              <li><strong>Exercise regularly</strong> to keep good muscle tone that aids digestion</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>